<ion-view view-title="Gráfico">
  <ion-content ng-controller="ExampleController">
    <div class="card">
      <div class="item item-divider">
        Dados:
      </div>
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" options="{showToolTips: false}"></canvas>
      </div>
    </div>
    <img class="logo02" src="img/MB07.jpg" alt="">
    <div>
      <button class="button button-block button-positive">Compartilhar</button>
    </div>
  </ion-content>
</ion-view>
