<ion-view view-title="Cadastro">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Nome de Usuário:" ng-model="dados.nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="ID Mobile:" ng-model="dados.numero">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Senha:" ng-model="dados.senha">
      </label>
        <img class="logo01" src="img/MB07.jpg" alt="">
      <div>
        <button class="button button-block button-positive" ng-click="salvar()" type="submit" >salvar</button>
      </div>
    </div>
  </ion-content>
</ion-view>
